<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Name</title>
</head>
<body>
  <h1><%= @movie['title'] %></h1>
  <h3><%= @movie['genre'] %> / Released: <%= @movie['year'] %> / Rating: <%= @movie['rating'] %></h3>
  <h4><%= @movie['studio'] %></h4>
  <p><%= @movie['synopsis'] %></p>
</body>
</html>
